{% extends "layout.html" %}
{% block content %}

<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="home">KGMicro college</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="home">Daily report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>
  </div>
</nav>
  <div> 
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" style="width:25%;">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Student ID</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Domain</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Batch</th>
            <td>---</td>
          </tr>
        </tbody>
    </table>
    <form  method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="row form-group center_home">
        <h3 class="form-group">Daily report</h3>

        <div class="form-group">
            <div class="row">
                <div class='col-sm-6'>
                  {{ form.intime.label(class="form-control-label") }} 
                  {% if form.intime.errors %}
                  {{ form.intime(class="form-control form-control-lg is-invalid", id="datetimepicker1") }}
                  <div>
                      {% for error in form.intime.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                    {{ form.intime(class="form-control form-control-lg", id="datetimepicker1") }}
                  {% endif %}                
                </div>
                <div class='col-sm-6'>
                  {{ form.outtime.label(class="form-control-label") }} 
                  {% if form.outtime.errors %}
                  {{ form.outtime(class="form-control form-control-lg is-invalid", id="datetimepicker2") }}
                  <div>
                      {% for error in form.outtime.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                    {{ form.outtime(class="form-control form-control-lg", id="datetimepicker2") }}
                  {% endif %}             
                 </div>
            </div>
        </div>


        <div class="col">
          {{ form.discription.label(class="form-control-label") }} 
          {% if form.discription.errors %}
          {{ form.discription(class="form-control form-control-lg is-invalid") }}
          <div>
              {% for error in form.discription.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
          {% else %}
            {{ form.discription(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-primary") }}
        </div>
        </form>
      </div>
  </div>
{% endblock content %}